<h1> Welcome to barbershop </h1>

<p> We are opened! </p>

<form action="/" method="POST">

  <input type="text" name="user_name" /> <br/>
  <input type="password" name="phone" /> <br/>
  <input type="password" name="date_time" /> <br/>
  
  <input type="submit" />

</form>